body
{
    margin: 0 auto;
    text-align: center;
    border: solid;
    border-radius: 10px;
    border-color: #275399;
    background-color: #e6d3b3
;
}

input 
{
     color: #e93939;
     margin-top: 5px;
     margin-bottom: 5px;
}

.results
{
    background-color: #cc6866
;
}